
.wrappers{
 margin-top: 10%;
 min-height: 100%;
}
img{
 width: 100%;
}
#gif{
 border-radius: 5%;
}
.row{
 display: flex;
 align-items: center;
 justify-content: space-around;
 vertical-align: middle;
}
h2{
 font-family: 'Splash', cursive;
 font-weight: 500;
 text-transform: capitalize;
}