<div class="col w-75 wrapper">
  <div class="text-center mt-2 mb-3 name">
    <h2 class="my-2">Hi, {{ data.urname }}</h2>
    <p>
      Your Diwali wish to {{ data.frname }} is successfully created. We wish you
      a Happy Diwali to you. Your wish is very precious to us, so you can use
      the url for lifetime . Also, you can share your wish to other loved ones.
    </p>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-sm card mx-1">
        <div class="card-body text-center">
          <h3 class="text-center mb-3">
            <em> For {{ data.frname }}</em>
          </h3>
          <div class="container">
            <div class="row buttons">
              <div class="col-md m-1">
                <button class="btn btn-outline-dark px-2">Send Mail</button>
              </div>
              <div class="col-md m-1">
                <button class="btn btn-outline-dark px-2" (click)="preview()">
                  Preview
                </button>
              </div>
            </div>
          </div>
          <div class="align m-2">
            <input
              type="url"
              class="mt-1"
              #clipboard1="ngModel"
              #inp1
              [(ngModel)]="url"
              readonly
            />
            <button class="btn m-2" (click)="click(inp1)" (click)="change()">
              📋{{ ck[0] }}
            </button>
          </div>
          <div class="col">
            <button class="icon p-2 m-2 rounded-pill">Share to Whatsapp</button>
          </div>
        </div>
      </div>
      <div class="col-sm card mx-1">
        <div class="card-body text-center">
          <h3 class="text-center mb-3"><em>Other friends</em></h3>
          <div class="container">
            <div class="row buttons">
              <div class="col-md m-1">
                <button
                  class="btn btn-outline-dark px-2"
                  (click)="previewall()"
                >
                  Preview
                </button>
              </div>
            </div>
          </div>
          <div class="align m-2">
            <input
              type="url"
              class="mt-1"
              #clipboard2="ngModel"
              #inp2
              [(ngModel)]="urls"
              readonly
            />
            <button class="btn m-2" (click)="click(inp2)" (click)="change1()">
              📋{{ ck[1] }}
            </button>
          </div>
          <div class="col">
            <button class="icon p-2 m-2 rounded-pill">Share to Whatsapp</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
