<div class="wrapper">
  <div class="text-center mt-2 mb-3 name">
    <h2 class="my-2">Hi, {{ data.urname }}</h2>
    <p>
      Your Diwali wish to {{ data.frname }} is successfully created. We wish you
      a Happy Diwali to you. Your wish is very precious to us, so you can use
      the url for lifetime . Also, you can share your wish to other loved ones.
    </p>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-between ">
      <div class="col-5 card mx-1">
        <div class="card-body">
         <h3 class="text-center">For {{data.frname}}</h3>
         <button class="btn">SUBMIT</button>
        </div>
      </div>
      <div class="col-5 card mx-1">
        <div class="card-body">
         <h3 class="text-center">Other Friends</h3>
        </div>
      </div>
    </div>
  </div>
</div>
